<div class="container">
  <div class="sidebar">
    {{#organization-list organizations=model on-save=(route-action 'star') as |org|}}
      <img src={{org.avatarUrl}}> {{org.name}}
    {{else}}
      NOOOOO
    {{/organization-list}}
  </div>

  <div class="main">
    {{outlet}}
  </div>
</div>
