.starred {
  color: red;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  width: 300px;
}

.main {
  flex-grow: 1;
}

.sidebar img {
  width: 80px;
}
